<p style="float: right;">
<a href="http://www.gitlab.com/lordadamson" target="_blank">Gitlab</a>
<a href="http://www.twitter.com/adamzahran" target="_blank">Twitter</a>
<a href="https://www.youtube.com/user/lordadamson1/videos" target="_blank">Youtube</a>
</p>

<h1 align="center">Devel Stuff</h1>
<p align="center">Hi! :D I'm a C++ programmer. I'm an open source enthusiast. I love coding and Linux and that's pretty much all I do with my life lol</p>
